// app global css in SCSS form
@font-face {
  font-family: nunito;
  src: url(./fonts/NunitoSans-Regular.ttf);
}

// Disposition navbar
.toolbar-title {
  font-size: 1.5rem;
  text-align: center;
}

// page Index
.box-logo {
  width: 60%;
  margin: 5% auto;
}

.logo {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 750px) {
  .box-logo {
    width: 90%;
  }
}

.box-btn-language {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px 100px;
  margin: 0 auto;
  //   background: pink;
}

.btn {
  background: #b0e3d6;
  color: black;
  font-size: 1.5rem;
  margin: 10% 10%;
}

// form pages
.page {
  width: 80%;
  //   background: lightblue;
  margin: 0 auto;
}
.information-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.information-element {
  width: 40%;
  min-width: 300px;
  margin: 0 auto;
}

.text-instruction {
  font-size: 1.2rem;
  text-align: center;
  padding: 50px;
}

.separator-red {
  width: 100%;
  background: #c7232f;
  height: 5px;
}

.radio-container {
  display: flex;
}
